* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  background-color: #c3073f !important;
  margin-top: 20px !important;
}
.nav-link {
    color: lightpink !important;
    font-weight: bold;
    font-size: 13pt;
    margin-right: 30px !important;
}
.fluid-container{
  background-color: black;
 
}
h5, p{
  color: black ;
}

.navbar-brand{
  font-size: 35pt;
  color: gold !important;
  padding-left: 30px;

  
}

.also{
  margin: 0px;
  color: gold;
  font-style: oblique;
}

.embed-responsive{
  width: 100% !important;
  height: 500px !important;
}


/* <!-- *****************************************************************start of how we work*************************************** --> */
 .container{
  margin-top: 30px !important;
  text-align: center;
 
  
}

.fa-user-circle, .fa-suitcase, .fa-volume-control-phone{
  font-size: 40px !important;
  margin-top: 20px;
 
  
}
.card{
  text-align: center;
  margin-top: 50px !important;
  background-color: lightgrey;
  border-bottom-left-radius: 3em;
  border-top-right-radius: 3em;   
  box-shadow: 2px 2px 10px #c3073f;
 }


.he{
  color: #c3073f;
  font-style: oblique !important;
  margin-top: 80px !important;
}

.card-title, .card-text{
color:#c3073f !important  ;
} 




/* <!-- *****************************************************************End of how we work*************************************** --> */
/* <!-- *****************************************************************start of about*************************************** --> */

.About{
  margin-top: 50px !important;
  margin-left: 0px;
  
}

.mt-0{
  font-size: 42pt;
  color:  #c3073f;
}
.stretched-link{
  border-radius: 10px;
  color: #c3073f;
  border: 1px solid brown;
  padding: 10px;
  background-color: lightgrey;
  
}
.stretched-link:hover{
text-decoration: none;
color: khaki;
background-color: #c3073f;
}


.para{
  padding-bottom: 10px;
  font-size: 15pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.row1{
  background-color: grey !important;
  padding-bottom: 0px !important;
}

/* <!-- *****************************************************************start of about*************************************** --> */
/* <!-- *****************************************************************start of images portion*************************************** -->  */
.row2{
  margin-bottom: 10px !important;
}
.ha{
  color:#c3073f ;
  font-size: 25pt;
  margin-bottom: 15px;
  margin-top: 50px !important;
  font-style: oblique !important;
}
.mo{
  justify-content: center;
  color: grey;
  margin-bottom: 40px;
  font-size: 10pt;
}

.pic{
  margin-top: 15px;
  border: 3px solid peru;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
 
}
.pic:hover{
           opacity: 0.2;
           box-shadow: 5px -5px 7px #c3073f;
           border-bottom-left-radius: 2em;
           border-radius: 200px;
           border: none;
}




/* .img-fluid{
  border-style: ridge;
  border-color:#c3073f ;
  border-width: 5px;
  width: 300px;
  height: 150px;
} */

/* <!-- *****************************************************************start of background portion*************************************** --> */

/* .img-fluid{
  
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6 !important;
} */
/* <!-- *****************************************************************end of backgroung portion*************************************** -->  */
/* <!-- *****************************************************************start of about us *************************************** -->  */

.mt-1{
  font-size: 42pt;
  color: #c3073f;
  font-weight: 700;
  }

.mid{
  text-align: center;
  border: 1px solid initial;
  background-color: initial;
  
}
.horn{
  width: 35%;
  border: 2px solid burlywood;
  margin-bottom: 30px;
  margin-top: 0px;
  
}
.app{
justify-content: center;
font-style: normal;
font-weight: 600;
color: grey;
margin-top: 30px;
}


/* <!-- *****************************************************************end of about us*************************************** -->  */

/* <!-- *****************************************************************start of mvb *************************************** -->  */

.card-text{
  font-size: 10pt;
  text-align: left !important;
}


/* <!-- *****************************************************************end of mvb *************************************** -->  */








/* <!-- *****************************************************************start of tour packages *************************************** -->  */

.dome{
  color: peru;
 font-size: 2.5em;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: -10px;
  
}
.liv{
  list-style-type: disc;
  color: darkmagenta;
  font-size: 13pt;
}
.card1{
 text-align: left;
 color: #c3073f;
 font-size: 17pt;
}
.btn:hover{
  color:green ;
}
.btn{
  background-color: peru;
  color: indianred (7,7,0);
  font-size: 11pt;
font-weight: 600 !important ;
}

.is{
  border: 1px solid #c3073f;
  width: 20%;
}

/* <!-- *****************************************************************end of tour packages *************************************** -->  */







/* <!-- *****************************************************************start of overlay *************************************** -->  */

.card-img{
  opacity: 0.6 !important;
}
.card3{
  font-size: 23pt;
  color: #c3073f;
  font-weight: 600;
  margin-top: 50px !important;
  text-align: center;
}
.text-center{
  height: 360px !important;
  box-shadow: 7px 9px 7px peru;
}
.text3{
font-size: 12pt;
color: peru;
}
/* <!-- *****************************************************************end of overlay*************************************** -->  */

/* <!-- *****************************************************************start of contact us*************************************** -->  */


.anchor{
  margin-left: 15px ;
}


.one{
  text-align: left;
  color: grey;
  margin-bottom: 0px;
  font-size: 15pt;
  margin-top: 30px;
}
.last{
  margin-top: 100px;
}
.textarea{
  width: 100% !important;
}

  .btn-primary:hover {
    color:green ;
    background-color: gray;
  }
  .btn-primary{
    background-color: peru;
    color: indianred (7,7,0);
    font-size: 11pt;
  font-weight: 600 !important ;
  }

/* <!-- *****************************************************************end of contact us*************************************** -->  */
/* <!-- *****************************************************************start of services*************************************** -->  */
.mt-1b{
  margin-top: 120px;
  color: #c3073f;
  font-style: oblique; 
 font-size: 28pt !important;
 margin-bottom: 70px;
}
.fa-car,.fa-subway,.fa-plane,.fa-money{
  font-size: 45pt !important;
  color: peru;
  text-shadow: 2px 2px 5px #c3073f
}

.fa-car:hover{
  
  color: #c3073f;
  font-size: 25pt;
}
.fa-subway:hover{
  
  color: #c3073f;
  font-size: 25pt;
}
.fa-plane:hover{
  
  color: #c3073f;
  font-size: 25pt;
}
.fa-money:hover{
  
  color: #c3073f;
  font-size: 25pt;
}


.card-text1{
  text-align: center;
  font-size: 12pt;
  color: burlywood;
}

.btn1{
  
 margin-bottom: 20px !important;
  color: #c3073f;
  background-color: none !important; 
  
}
.btn1:hover{
  color: white;
  background-color: peru;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 8pt;
  padding: 6px;
 
}

.no{
  
  box-shadow: 3px 3px 9px grey;
}

/* <!-- *****************************************************************end of services*************************************** -->  */

/* <!-- *****************************************************************start of head pack*************************************** -->  */

.yes{
  
  box-shadow: 3px 3px 9px rgb(177, 162, 162);
}



.circle{
  background-color: #c3073f;
  width: 200px;
  height: 200px;
  margin: auto !important;
  border-radius: 100px;
  margin-bottom: 40px !important;
  box-shadow: 4px 4px 10px peru;
 
}


.pros{
 
  font-size: 20pt;
  color: peru;
padding: 50px;
}






/* <!-- *****************************************************************start of head pack*************************************** -->  */

/* <!-- *****************************************************************start of footer *************************************** -->  */

.you{
  background-color: rgb(184, 166, 0);
  
 background-image: url(images/back\ foot.png);
 background-size: cover;
 margin-top: 50px;
}
.pa{
  text-align: left;
  color: gray;

}
.head{
  margin-top: 100px;
  text-align: left;
  color: gray;
}
.fa-twitter-square,.fa-instagram,.fa-facebook-square,.fa-linkedin-square,.fa-youtube-square{
  font-size: 20pt !important;
  color: gray;
}
ul>li{
list-style: none;
 text-align: left;
  color: gray;
}
.fa-map-marker,.fa-phone,.fa-mobile,.fa-envelope{
  color: gray;

}

.tex{
  text-align: left;
  color: gray;
}
.foot{
  text-align: left;
  color: gray;
}
/* <!-- *****************************************************************end of footer *************************************** -->  */

